*.swp
.DS_Store
.aws/
.bashrc
.composer/
.config/clash/
.config/exercism/
.config/git/
.config/htop/
.config/sqls/
.config/tmuxinator/
.config/vira/
.config/wireshark/
.curlrc
.docker/
.fasd
.gist-vim
.gitconfig
.gitignore_global
.gnupg/
.gradle/
.hammerspoon/
.hgignore_global
.httpie/
.ideavimrc
.keepassx/
.kube
.logseq/
.npmrc
.oh-my-zsh/
.p10k.zsh
.pearrc
.proxychains/
.ssh/
.subversion/
.vim/
.vimperator/
.vimrc_private
.vimspector.json
.wget-hsts
.yarnrc
.zshenv
Library/
rc/
svn/README.txt
svn/auth
svn/servers
.config/karabiner/automatic_backups/
.config/kitty/colorscheme/base16-kitty
